/*=================== fonts ====================*/
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900|Roboto:300,400,500,700");
/*---------------------------------------------------- */
/*----------------------------------------------------*/
*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}
html {
  font-size: 10px;
}
body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  line-height: 24px;
}
